.swiper-button-next::after{
    content: none;
}
.swiper-button-prev:after{
    content: none;
}

.swiper-button-next , .swiper-button-prev{
    width:4.5rem;
    top:95%;
}

.testimonial-button .swiper-button-prev {
    left: 50%;
}

.testimonial-button .swiper-button-next{
    right: 50% !important;
}


.swiper-wrapper{
    padding-bottom:6rem!important;
}

