.swiper-button-next::after{
    content: none;
}
.swiper-button-prev:after{
    content: none;
}

.swiper-button-next , .swiper-button-prev{
    width:4.5rem;
    top:95%;
}

.testimonial-button .swiper-button-prev {
    left: 40% !important;
}

.testimonial-button .swiper-button-next{
    right: 40% !important;
}


.swiper-wrapper{
    padding-bottom:6rem!important;
}


@media (800px > width) {
    .testimonial-button .swiper-button-prev {
        left: 32% !important;
    }
    
    .testimonial-button .swiper-button-next{
        right: 32% !important;
    }
}
